{% load static %}

<div class="relative inline-block">
  <button id="dropdown-button-{{ post.id }}" type="button" title="Options">
    <img src="{% static 'images/gallery_icons/dots.png' %}" class="aspect-square rounded-lg object-cover size-8 border shadow-lg hover:shadow-inner">
  </button>
  <div id="dropdown-menu-{{ post.id }}" class="hidden flex flex-col w-20 absolute z-[1] right-0 mt-1 rounded-md border border-gray-300 bg-white shadow-md">
    {% if not is_post_detail %}
      <a href="{% url 'posts:post_detail_view' post_id=post.id site_url=post.user.site_url %}" class="w-full text-left px-2 py-1 rounded-md cursor-pointer hover:bg-gray-100">
        Preview
      </a>
    {% endif %}
    {% if post.user == request.user %}
      {% if not post.albums %}
        <a href="{% url 'posts:post_edit' site_url=request.user.site_url post_id=post.id %}" class="w-full text-left px-2 py-1 rounded-md cursor-pointer hover:bg-gray-100">
          Edit
        </a>
        <a href="{% url 'posts:post_delete' site_url=request.user.site_url post_id=post.id %}" class="w-full text-left px-2 py-1 rounded-md cursor-pointer hover:bg-gray-100">
          Delete
        </a>
      {% else %}
        <a href="{% url 'gallery:album_edit' uuid_url=post.albums.uuid_url %}" class="w-full text-left px-2 py-1 rounded-md cursor-pointer hover:bg-gray-100">
          Edit
        </a>
        <a href="{% url 'gallery:album_delete' uuid_url=post.albums.uuid_url %}" class="w-full text-left px-2 py-1 rounded-md cursor-pointer hover:bg-gray-100">
          Delete
        </a>
      {% endif %}

    {% endif %}
  </div>
</div>


<script>
  document.addEventListener('click', function(event) {
    var dropdownButton = document.getElementById('dropdown-button-{{ post.id }}');
    var dropdownMenu = document.getElementById('dropdown-menu-{{ post.id }}');

    var isClickInsideButton = dropdownButton.contains(event.target);
    var isClickInsideMenu = dropdownMenu.contains(event.target);

    if (!isClickInsideButton && !isClickInsideMenu) {
        dropdownMenu.classList.add('hidden');
    }
  });

  document.getElementById('dropdown-button-{{ post.id }}').addEventListener('click', function() {
    var dropdownMenu = document.getElementById('dropdown-menu-{{ post.id }}');
    dropdownMenu.classList.toggle('hidden');
  });
</script>