{% load static %}

<div class="relative inline-block">
  <button id="dropdown-button-main" type="button" title="Profile options" class="size-12 rounded-full mr-4">
    <img src="{% static 'images/gallery_icons/dots.png' %}" class="rounded-md object-cover size-12 border shadow-lg hover:shadow-inner hover:bg-amber-500">
  </button>
  <div id="dropdown-menu-main" class="hidden flex flex-col w-60 absolute z-[1] right-0 mt-1 rounded-md border border-gray-400 bg-white shadow-md">
    <a href="{% url 'account:profile_main_view' site_url=request.user.site_url %}" class="flex items-center w-full p-2 rounded-md cursor-pointer hover:bg-gray-100 space-x-4">
      <div class="size-12 border rounded-full">
        {% with request.user as icon_user %}
          {% include 'gallery/user_main_image_icon.html' %}
        {% endwith %}
      </div>
      <p class="text-left text-lg font-bold">
        Profile
      </p>
    </a>
    <a href="#" class="flex items-center w-full px-3 py-2 border-y cursor-pointer hover:bg-gray-100 space-x-4">
      <div class="size-6 rounded-full">
        <img src="{% static 'images/gallery_icons/settings-filled.png' %}" class="size-fit aspect-square rounded-full object-cover">
      </div>
      <p class="text-left text-lg text-gray-400">
        [WIP] Edit profile
      </p>
    </a>
    {% if request.user.is_superuser %}
      <a href="{% url 'admin:index' %}" class="flex items-center w-full p-2 border-y cursor-pointer hover:bg-gray-100 space-x-4">
        <div class="size-8 rounded-full">
          <img src="{% static 'images/gallery_icons/admin-panel-filled.png' %}" class="size-fit aspect-square rounded-full object-cover">
        </div>
        <p class="text-left text-lg">
          Admin Panel
        </p>
      </a>
    {% endif %}
    <a href="{% url 'users:logout' %}" class="flex items-center w-full p-2 rounded-b-md cursor-pointer bg-amber-500 hover:bg-amber-600 space-x-4">
      <div class="size-8 rounded-full">
        <img src="{% static 'images/gallery_icons/logout.png' %}" class="size-fit aspect-square rounded-full object-cover">
      </div>
      <p class="text-left text-lg font-bold">
        Logout
      </p>
    </a>
  </div>
</div>

<script>
  document.addEventListener('click', function(event) {
    var dropdownButton = document.getElementById('dropdown-button-main');
    var dropdownMenu = document.getElementById('dropdown-menu-main');

    var isClickInsideButton = dropdownButton.contains(event.target);
    var isClickInsideMenu = dropdownMenu.contains(event.target);

    if (!isClickInsideButton && !isClickInsideMenu) {
        dropdownMenu.classList.add('hidden');
    }
  });

  document.getElementById('dropdown-button-main').addEventListener('click', function() {
    var dropdownMenu = document.getElementById('dropdown-menu-main');
    dropdownMenu.classList.toggle('hidden');
  });
</script>