{% extends 'account/profile_base.html' %}
{% load static %}

{% block innercontent %}
  <div class="p-4 bg-white rounded-xl border border-gray-200">
    <div class="flex justify-between">
      <h1 class="text text-4xl text-sky-950 font-bold">{{ album.title }}</h1>
      <div class="flex space-x-2">
        <a href="{% url 'account:user_albums_view' site_url=user.site_url %}" title="Go back to albums" class="p-2 h-8 rounded-full border shadow-lg hover:shadow-inner">
          <img src="{% static 'images/gallery_icons/go-back-arrow.png' %}" class="size-4">
        </a>
        {% include 'gallery/album_option_button_template.html' %}
      </div>
    </div>
    <div class="py-4 flex justify-between">
      <div>
        <p class="">{{ album.post.text }}</p>
      </div>
      <div>
        <p class="">Created: {{ album.post.published_date.date }}</p>
        <p class="">No. of photos: {{ album.post.images.count }}</p>
      </div>
    </div>
    <hr>
    <div class="w-full mt-2 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2">
      {% for image in album_images|dictsortreversed:"id" %}
        <a href="{% url 'gallery:image_preview' image_id=image.id post_type='p' post_id=album.post.id %}" class="max-h-52 sm:min-h-52 flex place-content-center">
          <img src="{{ image.image.url }}" class="object-cover border border-gray-400">
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock innercontent %}