{% extends 'account/profile_base.html' %}
{% load static %}

{% block title %} | {{ user.first_name }} {{ user.last_name }} | Info{% endblock title %}

{% block innercontent %}
  <div class="p-4 bg-white rounded-xl border border-gray-200">
    <div class="flex justify-between">
      <h1 class="text text-4xl text-sky-950 font-bold">Edit info</h1>
    </div>
    <form method='POST' class="mt-4 space-y-2">
      {% csrf_token %}
      <div class="flex border border-gray-300 rounded-xl">
        <p class="p-4 min-w-40 overflow-auto border-r border-gray-300 text-lg text-sky-950 font-bold bg-gray-200 rounded-l-xl">Bio:</p>
        <textarea name="bio" placeholder="Optional" class="p-4 w-full max-h-60 min-h-24 rounded-r-xl">{% if user.data.bio %}{{ user.data.bio }}{% endif %}</textarea>
      </div>
      <div class="flex gap-4 w-full">
        <div class="flex w-1/2 border border-gray-300 rounded-xl">
          <p class="p-4 min-w-40 border-r border-gray-300 text-lg text-sky-950 font-bold bg-gray-200 rounded-l-xl">Date of birth:</p>
          <input type="date" name="date_of_birth" value="{% if user.data.date_of_birth %}{{ user.data.date_of_birth }}{% endif %}" class="p-4 w-full rounded-r-xl">
        </div>
        <div class="flex w-1/2 border border-gray-300 rounded-xl">
          <p class="p-4 min-w-40 border-r border-gray-300 text-lg text-sky-950 font-bold bg-gray-200 rounded-l-xl">Gender:</p>
          <select name="gender" class="p-4 w-full rounded-r-xl bg-white">
            {% for val, name in form.fields.gender.choices %}
              {% if name == user.data.gender %}
                <option value="{{ val }}" selected>{{ name }}</option>
              {% else %}
                <option value="{{ val }}">{{ name }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="flex border border-gray-300 rounded-xl">
        <p class="p-4 min-w-40 border-r border-gray-300 text-lg text-sky-950 font-bold bg-gray-200 rounded-l-xl">Place of living:</p>
        <input type="text" name="place_of_live" value="{% if user.data.place_of_live %}{{ user.data.place_of_live }}{% endif %}" placeholder="Optional" class="p-4 w-full rounded-r-xl">
      </div>
      <div class="flex border border-gray-300 rounded-xl">
        <p class="p-4 min-w-40 border-r border-gray-300 text-lg text-sky-950 font-bold bg-gray-200 rounded-l-xl">Occupation:</p>
        <input type="text" name="occupation" value="{% if user.data.occupation %}{{ user.data.occupation }}{% endif %}" placeholder="Optional" class="p-4 w-full rounded-r-xl">
      </div>
      <div class="flex justify-center space-x-12 pt-2">
        <button type="submit" class="w-80 py-2 px-3 text-white text-lg font-bold bg-sky-700 hover:bg-sky-800 rounded-2xl">
          Save
        </button>
        <a name="cancel" href="{% url 'account:profile_info_view' user.site_url %}" class="w-80 ml-2 py-2 px-3 text-white text-center text-lg font-bold bg-red-600 hover:bg-red-700 rounded-2xl">Cancel</a>
      </div>
    </form>
  </div>
{% endblock innercontent %}